<h2>Forgot your password?</h2>
<div class='justify-content-center'>
  <div class='col-5'>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group row">
        <%= f.label :email_adress, class: 'text-white ml-3' %>
        <div class='col-10'>
          <%= f.email_field :email, required: true, class: 'form-control', placeholder: 'Email', autofocus: true, autocomplete: "email" %>
        </div>    
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions" %>
      </div>
  </div>
    <% end %>
  <div class='sign-up-button mt-3'>
    <%= render "devise/shared/links" %>
  </div>
</div>